/* PC VIEW PORTFOLIO STARTS */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

ul,
li,
a {
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

/* Header Section Starts */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 38px 0;
}

.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

#ul {
  display: none;
}

.menu-cross {
  display: none;
}

.mob-abs-2 {
  display: none;
}

.card-1-text li {
  background-color: #98dede;
  color: #1a2236;
  padding: 2px 4px;
}

.about-cards li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  list-style: disc;
}

.header li:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.menu {
  display: none;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 6px;
}

/* Header Section Ends */

/* Hero Section Starts */

.hero {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./assets/dots-img.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 100%;
  width: 100%;
}

.hero-text-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 38px;
  width: 65%;
}

.hero-text-div h1 {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 100%;
  color: #1a2236;
  margin: 0;
  padding: 0;
}

.hero-text-div p {
  margin: 0;
}

.hero-text-div a {
  align-self: flex-start;
  cursor: pointer;
}

.hero-text-div button {
  padding: 18px 42px;
  background-color: #1a2236;
  color: white;
  cursor: pointer;
  transition: color 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
}

.card-1-text button {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  gap: 8px;
  white-space: nowrap;
  margin: 20px;
  transition: color 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
}

.about-text button {
  background-color: #1a2236;
  color: white;
  padding: 16px 80px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  gap: 18px;
  cursor: pointer;
  transition: color 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
}

.contact-wrapper button {
  margin-top: 8px;
  margin-bottom: 16px;
  background-color: #1a2236;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 0;
  width: 50%;
  transition: color 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
  cursor: pointer;
}

.card-1-text button:hover {
  background-color: #1a2236;
  color: white;
  border: 1px solid whitesmoke;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  gap: 8px;
  white-space: nowrap;
  margin: 20px;
}

.hero-text-div button:hover {
  padding: 18px 42px;
  background-color: white;
  color: #1a2236;
  border: 1px solid #1a2236;
  cursor: pointer;
  transition: color 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
}

.hero-text-div button:active {
  padding: 18px 42px;
  background-color: white;
  color: #1a2236;
  border: 4px solid #1a2236;
  cursor: pointer;
  transition: color 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
}

.hero-img {
  margin: 0;
  padding: 0;
  display: flex;
}

.hero-img img {
  width: 100%;
  resize: none;
}

.hero-mobile {
  display: none;
}

/* Hero Section Ends */

/* Project Section Starts */

.project {
  margin-top: 100px;
}

.project-row-1 {
  display: grid;
  grid-template-columns: 40% auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.project-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 100%;
  padding-right: 20%;
  background-image: url('./assets/dots-img.svg');
  background-position: top right;
  background-repeat: no-repeat;
  height: 100%;
}

.project-heading h2 {
  transform: rotate(-90deg);
}

.project-card-1 {
  display: flex;
  position: relative;
}

.project-card-1 img {
  resize: both;
  width: 100%;
}

.card-1-data {
  opacity: 0;
  position: absolute;
  background: linear-gradient(0deg, rgba(26, 34, 54, 1) 50%, rgba(26, 34, 54, 0) 100%);
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  transition: color 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
}

.card-1-data:hover {
  opacity: 100;
  transition: color 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
}

.card-1-text h2 {
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80%;
  margin: 0;
}

.card-1-text ul {
  padding: 20px;
  display: flex;
  gap: 24px;
}

.project-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.project-card-2 {
  display: flex;
  align-items: flex-end;
  height: 100%;
  position: relative;
}

.project-card-2 img {
  resize: both;
  width: 100%;
}

.project-row-2-geo {
  display: flex;
  object-fit: cover;
  resize: both;
  width: 100%;
}

.project-row-2-geo img {
  width: 100%;
}

.project-card-3 {
  grid-row: span 2;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.project-card-3 .card-1-data {
  display: none;
}

.project-card-3 img {
  resize: both;
  width: 100%;
}

.project-card-4 {
  grid-column: span 2;
  display: flex;
  align-items: flex-start;
  height: 100%;
  background-image: url('./assets/folio4-geo.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
}

.project-card-4 img {
  resize: both;
  width: 83%;
}

.folio5-geo {
  align-self: flex-end;
  width: 50% !important;
  right: 0;
}

.project-row-3 {
  display: grid;
  grid-template-columns: 55% 45%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.project-row-3-geo {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.project-card-5 {
  position: relative;
}

.project-card-5 img {
  width: 80%;
}

/* Project Section Ends */

/* About Section Starts */

.about {
  margin-top: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 24px;
}

.about-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.about-cards h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.about-card-1 {
  background-color: #1c528a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding-top: 10%;
  padding-bottom: 20%;
  background-image: url('./assets/hash.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.about-card-2 {
  background-color: #e2505c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding-top: 10%;
  padding-bottom: 20%;
  background-image: url('./assets/sqr.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.about-card-3 {
  background-color: #febf52;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding-top: 10%;
  padding-bottom: 20%;
  background-image: url('./assets/skill.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.about-card-4 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.about-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 28px;
}

.about-text h2 {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 100%;
  color: #1a2236;
  margin: 0;
}

.about-text button:hover {
  background-color: white;
  color: #1a2236;
  border: 1px solid #1a2236;
  padding: 16px 80px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  gap: 18px;
  cursor: pointer;
  transition: color 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
}

.about-text button:active {
  background-color: white;
  color: #1a2236;
  border: 4px solid #1a2236;
  padding: 16px 80px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  gap: 18px;
  cursor: pointer;
  transition: color 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
}

.about-text img {
  height: 22px;
}

/* About Section Ends */

/* Contact Section Starts */

.contact {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f9f9fa;
  display: flex;
  justify-content: center;
  position: relative;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.contact h2 {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 100%;
  text-align: center;
  color: #1a2236;
  margin: 0;
  padding-bottom: 28px;
}

.contact p {
  padding-bottom: 28px;
}

.contact-wrapper form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.contact-wrapper textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 16px;
  margin-right: 0;
  border-radius: 8px;
  background-color: white;
  outline-color: black;
}

.contact-wrapper button:hover {
  margin-top: 8px;
  margin-bottom: 16px;
  background-color: white;
  color: #1a2236;
  border: 1px solid #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 0;
  width: 50%;
  transition: color 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
  cursor: pointer;
}

.contact-wrapper button:active {
  margin-top: 8px;
  margin-bottom: 16px;
  background-color: white;
  color: #1a2236;
  border: 4px solid #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 0;
  width: 50%;
  transition: color 0.9s ease-in-out, box-shadow 0.9s ease-in-out;
  cursor: pointer;
}

.form-border {
  display: flex;
  justify-content: start;
  flex-direction: column;
  border: 1px solid #dfdfe0;
  border-radius: 8px;
  margin-bottom: 28px;
  background-color: white;
  width: 100%;
}

.contact-wrapper label {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  padding: 6px 16px;
}

.form-border input {
  padding: 8px 16px;
  border: none;
  outline: none;
  background-color: white;
}

.form-row-1 {
  display: flex;
  gap: 16px;
  width: 100%;
}

.contact-geo-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
}

.contact-geo-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 200px;
}

/* Contact Section Ends */

/* Footer Section Starts */

.footer {
  background-color: #1a2236;
  display: flex;
  justify-content: space-around;
  padding: 16px 0;
  color: white;
}

.footer-social-icons {
  display: flex;
  gap: 28px;
}

/* Footer Section Ends */

/* PC VIEW PORTFOLIO ENDS */

/* Mobile View Starts */

@media only screen and (max-width: 768px) {
  body {
    background-image: url('./assets/geo.png');
    background-repeat: no-repeat;
    overflow: hidden;
    overflow-y: scroll;
  }

  .header ul {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 101vh;
    width: 100%;
    margin-top: -40px;
    position: absolute;
    background-color: whitesmoke;
    background-image: url('./assets/mob-abs-1.svg');
    background-repeat: no-repeat;
    z-index: 1;
  }

  .mob-abs-dot {
    display: block;
    background-image: url('./assets/mob-abs-dot.svg');
    position: absolute;
    height: 100vh;
    width: 100% !important;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100px 50px;
    top: 10%;
    right: 10%;
    margin: 0;
    padding: 0;
    z-index: -1;
  }

  .mob-abs-2 {
    display: block;
    background-image: url('./assets/mob-abs-2.svg');
    position: absolute;
    height: 100vh;
    width: 100% !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    margin: 0;
    padding: 0;
    z-index: -1;
  }

  .header nav {
    display: flex;
    justify-content: flex-end;
  }

  .menu {
    display: block;
    margin-right: 16px;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .menu-cross {
    display: block;
    position: absolute;
    top: 38px;
    right: 16px;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .hero-text {
    background-image: none;
  }

  .hero-text-div h1 {
    font-size: 48px;
  }

  .hero-img {
    display: none;
  }

  .hero-mobile {
    display: flex;
    padding: 20px 0;
    width: 100%;
  }

  .hero-text-div {
    width: 90%;
  }

  .hero-text-div p {
    font-size: 14px;
  }

  .hero-text-div a {
    width: 100%;
  }

  .hero-text-div button {
    width: 100%;
  }

  .project {
    margin-top: 0;
  }

  .project-heading {
    font-size: 28px;
    background-image: none;
  }

  .project-heading h2 {
    transform: rotate(0deg);
  }

  .card-1-data {
    position: relative;
    opacity: 100;
    background-color: #1a2236;
    width: 100%;
  }

  .card-1-text h2 {
    font-size: 20px;
  }

  .card-1-text ul {
    font-size: 10px;
    padding: 0 20px;
  }

  .card-1-text button {
    padding: 4px 8px;
  }

  .project-row-1 {
    display: block;
  }

  .project-card-1 {
    display: block;
  }

  .project-row-2 {
    display: block;
  }

  .project-card-2 {
    display: block;
  }

  .project-row-2-geo {
    display: none;
  }

  .project-row-3 {
    display: block;
  }

  .project-card-3 .card-1-data {
    display: block;
  }

  .project-card-3-wrap {
    width: 100%;
  }

  .project-row-3-geo {
    display: none;
  }

  .project-card-4 {
    background-image: none;
    display: block;
  }

  .project-card-4 img {
    width: 100%;
  }

  .project-card-5 {
    display: none;
  }

  .project-card-5 img {
    width: 100%;
  }

  .folio5-geo {
    display: none;
  }

  .about-wrapper {
    display: block;
    width: 90%;
  }

  .about-cards {
    display: block;
  }

  .about-card-4 {
    display: none;
  }

  .about-text h2 {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
    margin: 0;
    padding-top: 28px;
  }

  .about-text button {
    padding: 8px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
  }

  .about-text a {
    width: 100%;
  }

  .contact-wrapper {
    width: 90%;
  }

  .contact-wrapper button {
    width: 100%;
  }

  .contact-geo-1 {
    height: 70px;
  }

  .contact-geo-2 {
    display: none;
  }

  .contact h2 {
    font-size: 50px;
  }

  .form-row-1 {
    display: block;
  }

  .footer {
    display: block;
  }

  .footer-social-icons {
    padding-top: 20px;
  }
}

/* Mobile View Ends */
