body {
  margin: 0;
  padding: 0;
  background-image: url(./assets/geo.png);
  background-repeat: no-repeat;
}

ul,
li {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
}

.navbar ul {
  display: none;
}

.tri-svg {
  position: absolute;
  left: 0;
  top: 0;
  height: 70px;
  width: 70px;
}

.sq-svg {
  position: absolute;
  left: 32px;
  top: 0;
  height: 70px;
  width: 70px;
}

.menu {
  margin-top: 30px;
  margin-right: 16px;
}

.heading {
  font-family: 'Playfair Display', serif;
  color: #1a2236;
  font-size: 50px;
  margin-left: 16px;
  margin-top: 104px;
  line-height: 50px;
  margin-bottom: 16px;
  text-align: left;
}

.para {
  font-family: 'Poppins', sans-serif;
  padding: 0 16px;
}

.btn-section {
  display: flex;
  justify-content: center;
}

.btn-a {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.btn {
  color: white;
  background-color: #1a2236;
  height: 50px;
  width: 100%;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
  transition: color .9s ease-in-out, box-shadow .9s ease-in-out;
}

.btn:hover {
  background-color: white;
  color: #1a2236;
  height: 50px;
  text-align: center;
  border-width: 1px;
}

.btn:active {
  background-color: white;
  color: #1a2236;
  height: 50px;
  text-align: center;
  border-width: 2px;
}

.geo2-img {
  margin-top: 32px;
  width: 100%;
  margin-bottom: 32px;
}

.img-dots {
  display: none;
}

.geo3-img {
  display: none;
}

.pc-geo-1 {
  display: none;
}

.project-h1 {
  font-size: 50px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-top: 0;
}

.folio-geo-last {
  display: none;
}

.folio-img {
  width: 100%;
}

.folio-txt {
  background-color: #1a2236;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 4px;
}

.folio-heading {
  font-size: 20px;
  font-weight: 300;
  margin-left: 16px;
  margin-bottom: 16px;
}

.folio-tag {
  display: flex;
  gap: 16px;
  margin: 0 16px;
  color: #1a2236;
}

.tag-item {
  background-color: #98dede;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  padding: 6px 10px;
}

.folio-btn {
  margin-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  border: 1px solid white;
  width: 180px;
  padding: 10px 0;
  transition: color .9s ease-in-out, box-shadow .9s ease-in-out;
}

.folio-btn:hover {
  background-color: white;
  border: 1px solid #1a2236;
  color: #1a2236;
}

.folio-btn:active {
  background-color: white;
  border: 2px solid #1a2236;
  color: #1a2236;
}

.folio-btn-img {
  height: 16px;
}

.about {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}

.about-h1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 20px;
}

.about-p {
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.about-btn {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: #1a2236;
  line-height: 24px;
  margin-bottom: 16px;
}

.about-btn:hover {
  background-color: white;
  border: 1px solid #1a2236;
  color: #1a2236;
}

.about-btn:active {
  background-color: white;
  border: 2px solid #1a2236;
  color: #1a2236;
}

.about-btn h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.about-btn-ico {
  height: 24px;
  width: 24px;
}

.box {
  margin-top: 16px;
  color: white;
  background-color: #1c528a;
  font-family: 'Poppins', sans-serif;
  height: 289px;
  position: relative;
}

.box-h2 {
  padding-top: 8px;
  margin-left: 50px;
  font-weight: 800;
  font-size: 20px;
}

.box-ul {
  margin-left: 65px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.box-ul li {
  list-style-type: disc;
}

.box-img {
  position: absolute;
  height: 102px;
  width: 102px;
  bottom: 0;
  right: 0;
}

.box2 {
  margin-top: 16px;
  color: white;
  background-color: #e2505c;
  font-family: 'Poppins', sans-serif;
  height: 289px;
  position: relative;
}

.box3 {
  margin-top: 16px;
  color: white;
  background-color: #febf52;
  font-family: 'Poppins', sans-serif;
  height: 289px;
  position: relative;
  margin-bottom: 16px;
}

.section-bg {
  padding-top: 68px;
  padding-bottom: 68px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #f9f9fa;
  background-image: url(./assets/geo.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.section-bg h1 {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  margin-bottom: 20px;
}

.section-bg label {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  padding: 6px 16px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-border {
  display: flex;
  justify-content: start;
  flex-direction: column;
  border: 1px solid #dfdfe0;
  border-radius: 8px;
  margin-bottom: 8px;
  background-color: white;
}

.form-border:hover {
  border: 1px solid black;
}

.form-border:active {
  border: 2px solid black;
}

.form-border input {
  padding: 4px 16px;
  border: none;
  outline: none;
  background-color: white;
}

.section-bg textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 16px;
  margin-right: 0;
  border-radius: 8px;
  background-color: white;
  outline-color: black;
}

.form-button {
  margin-top: 8px;
  margin-bottom: 16px;
  background-color: #1a2236;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 0;
  width: 100%;
  transition: color .9s ease-in-out, box-shadow .9s ease-in-out;
}

.form-button:hover {
  background-color: white;
  color: #1a2236;
  border: 1px solid black;
}

.form-button:active {
  background-color: white;
  color: #1a2236;
  border: 2px solid black;
}

.img2 {
  display: none;
}

.footer-bg {
  background-color: #1a2236;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
}

.cv-link {
  padding-top: 32px;
  padding-bottom: 24px;
}

.footer-link {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #92dcdc;
}

.footer-link-icon {
  height: 16px;
  width: 16px;
  padding-left: 16px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  /* For Desktop */
  body {
    margin: 0;
    padding: 0;
    background-image: none;
    overflow: hidden;
    overflow-y: scroll;
  }

  .menu {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar ul {
    padding-top: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1a2236;
  }

  .navbar ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
  }

  .hello {
    text-decoration: underline;
    text-underline-offset: 8px;
  }

  .hero {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 16px;
    justify-content: center;
  }

  .hero-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    width: 100%;
    text-align: center;
    padding-left: 25%;
    box-sizing: border-box;
    position: relative;
  }

  .heading {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 100%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  }

  .para {
    text-align: left;
  }

  .btn-a {
    display: flex;
    justify-content: start;
  }

  .btn {
    width: 45%;
  }

  .img-dots {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .hero-2 {
    display: flex;
    width: 100%;
  }

  .geo2-img {
    display: none;
  }

  .geo3-img {
    display: block;
    width: 100%;
  }

  .pc1 {
    margin-top: 200px;
    display: grid;
    position: relative;
    grid-template-columns: 40% auto;
  }

  .project-h1 {
    position: absolute;
    font-size: 110px;
    line-height: 100%;
    transform: rotate(-90deg);
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 138px;
  }

  .h1-dots {
    background-image: url(./assets/image_dots.svg);
    background-repeat: no-repeat;
    background-position: top right;
  }

  .folio-hovers {
    position: absolute;
    margin-top: -190px;
    width: 100%;
    opacity: 0;
    background-color: #1a2236;
    color: white;
    padding: 8px 0;
    font-family: 'Poppins', sans-serif;
  }

  .folio-hovers:hover {
    opacity: 100;
  }

  .pc-geo-1 {
    display: block;
    position: relative;
    resize: both;
  }

  .pc-geo-1 img {
    width: 100%;
  }

  .pc2 {
    margin-top: 76px;
    display: grid;
    position: relative;
    grid-template-columns: 40% auto auto;
  }

  .pc3 {
    display: grid;
    position: relative;
    grid-template-columns: 50% auto;
  }

  .pc4 {
    display: grid;
    position: relative;
    grid-template-columns: 50% auto;
  }

  .folio-txt {
    position: relative;
    background-color: white;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 0;
  }

  .img-folio4 {
    height: 220px;
    resize: both;
  }

  .img-folio5 {
    width: 100%;
    resize: both;
  }

  .folio-img-last {
    height: 125px;
  }

  .folio-geo-last {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .about {
    display: flex;
    flex-direction: row-reverse;
  }

  .abpc-1 {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .abpc-2 {
    width: 100%;
    display: block;
    justify-content: center;
  }

  .abpc2-in {
    width: 70%;
    padding-left: 20%;
  }

  .abpc-2 h1 {
    font-size: 110px;
  }

  .about-btn {
    width: 50%;
  }

  .box4 {
    background-image: url(./assets/image_dots_with_teal.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 16px;
  }

  .img1 {
    background-image: url(./assets/image-geometry_6.svg);
    background-size: 10%;
  }

  .img2 {
    display: block;
    position: absolute;
    height: 150px;
    bottom: 0;
    right: 0;
  }

  .section-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .sec-in {
    width: 40%;
  }

  .sec-in h1 {
    font-weight: 400;
    font-size: 110px;
    line-height: 100%;
    text-align: center;
  }

  .form-border {
    width: 50%;
  }

  .sec-in-flex {
    display: flex;
    gap: 5%;
    padding: 24px 0;
  }

  .footer-bg {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 0;
  }
}
